h1{
    text-align: center;
    background-color: #0ca4d4;
    padding: 3%;
}
body{
    background-color: #EFF3FF;
}
h2{
    text-align: center;
    padding: 1%;
    border: 2px solid black;
}
section{
    background-color: #6cdcfc;
    padding: 8px;
    border: 15px solid #6cdcfc;
    border-radius: 33px;
    margin: 12px;
}
form{
    padding: 22px;
}