h1{
    text-align: center;
    background-color: #0ca4d4;
    padding: 3%;
}
section{
    width: 20%;
    padding: 20px;

    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 26px;
    display: inline-block;
    vertical-align: top;
}
body{
    background-color: #EFF3FF;
}


label{
    display: block;
}
input, select{

    margin-bottom: 10px;
    padding: 5px;
}
#formulario{
    display: inline-block;
    width: 27%;
    vertical-align: top;
}

#imagen{
    display: inline-block;
    width: 55%;
    vertical-align: top;
}

#imagen img{
    width: 100%;
}