h1{
    text-align: center;
    background-color: #0ca4d4;
    padding: 3%;
}
section{
    margin: auto;
    width: 80%;
    padding: 20px;
    text-align: center;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 26px;
    float: left;
}
body{
    background-color: #EFF3FF;
}
form{
    display: inline-block;
    text-align: center;
}

label{
    display: block;
}
input, select{

    margin-bottom: 10px;
    padding: 5px;
}
div{
    display: inline-block;
}